<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,9}</string>
                <key>spriteSourceSize</key>
                <string>{5,9}</string>
                <key>textureRect</key>
                <string>{{84,1},{5,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>busted.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,14}</string>
                <key>spriteSourceSize</key>
                <string>{17,14}</string>
                <key>textureRect</key>
                <string>{{45,1},{17,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>invader1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,14}</string>
                <key>spriteSourceSize</key>
                <string>{20,14}</string>
                <key>textureRect</key>
                <string>{{1,1},{20,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>invader1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,14}</string>
                <key>spriteSourceSize</key>
                <string>{20,14}</string>
                <key>textureRect</key>
                <string>{{1,17},{20,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>invader2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,13}</string>
                <key>spriteSourceSize</key>
                <string>{20,13}</string>
                <key>textureRect</key>
                <string>{{23,1},{20,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>invader2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,13}</string>
                <key>spriteSourceSize</key>
                <string>{20,13}</string>
                <key>textureRect</key>
                <string>{{23,16},{20,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>invader3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,14}</string>
                <key>spriteSourceSize</key>
                <string>{20,14}</string>
                <key>textureRect</key>
                <string>{{45,17},{16,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>invader3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,14}</string>
                <key>spriteSourceSize</key>
                <string>{20,14}</string>
                <key>textureRect</key>
                <string>{{63,17},{16,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>invader_busted.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,10}</string>
                <key>spriteSourceSize</key>
                <string>{16,10}</string>
                <key>textureRect</key>
                <string>{{81,15},{16,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>turret.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{18,12}</string>
                <key>spriteSourceSize</key>
                <string>{18,14}</string>
                <key>textureRect</key>
                <string>{{64,1},{18,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sprites.png</string>
            <key>size</key>
            <string>{92,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8523a96d2c6e820fdcd87d36590fc4b2:a9974e026b1eb4eb269fb37fb83ecadd:e9a6761e0eaed6cf539663e6dc49fb27$</string>
            <key>textureFileName</key>
            <string>sprites.png</string>
        </dict>
    </dict>
</plist>
